@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-family: Roboto, "Hiragino Sans";
  font-size: 62.5%;
}
